torch>=2.2.2
numpy==1.26.4
scipy==1.14.1
pandas==2.2.3
tensorflow==2.16.2
scikit-learn==1.6.0
tqdm
openpyxl
python-Levenshtein
matplotlib
pygame==2.6.1
gymnasium==1.0.0
gym_cutting_stock @ git+https://github.com/martinakaduc/gym-cutting-stock